<!DOCTYPE HTML>
<html>
<head>
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
    <title>Jess Lam ITC 230</title>
</head>
<body>
    <h2>Welcome to the catalog</h2>
<!--     {{#each library}}
    <li><a href="/detail?album={{album}}">{{album}}</a></li>
    {{/each}} -->
    <br>
<div id="root" />
<script type = "text/babel">
    const List = (props) => {
        console.log(props)
        let items_list = props.items.map((catalog) => {
            return <li onClick = {props.clickHandler} key={catalog._id} id={catalog._id}>{catalog.album}</li>
        });
        return (
            <div>
                Album List
                <ul>
                {items_list}
                </ul>
            </div>
            );
    }

    const Detail = (props) => {
        return (
            <div>
                artist: {props.item.artist}<br/>
                song: {props.item.song}<br/>
                album:  {props.item.album}<br/>
            </div>
        )

    }

    class App extends React.Component { 
        constructor(props){
            super(props); //instantiate parent class
            //set initial state using server app data
            this.state = {
                catalog:{{{library}}},
                curItem: {}
            }; 

            //bind app 
            this.showDetail = this.showDetail.bind(this);
            
        }
        //show item details when list item clicked
        showDetail(event){
            console.log(event.target)
            //event.target is item clicked, assumes each item has an id attribute
            let editItem = this.state.catalog.find((item) =>{
                return item._id == event.target.id;
            });
            this.setState({curItem: editItem});
        }
        render() {
            return (
                <div>
                    <List items = {this.state.catalog} clickHandler={this.showDetail}/>
                    <Detail item={this.state.curItem}/>
                </div>
            );
        }
    }
    ReactDOM.render(<App />, document.getElementById("root"));

</script>
  <!--   <h2>Search the library</h2>
    <FORM action="/detail" method="POST">
        Look for an album: <input type=text name="keyword" required maxlength="50">
        <br><br>
        <button>Search</button><br><br>
    </FORM>
    <h2>Add to the library</h2>
    <FORM action="/add" method="POST">
        New Artist: <input type=text name="artist" required maxlength="50"><br>
        New Song: <input type=text name="song" required maxlength="50"><br>
        New Album:  <input type=text name="album" required maxlength="50"><br>
        <br><br>
        <button>Submit</button>
    
    </FORM>
 -->
</body>
</html>